Repository WildCodeSchool-2023-09/eating-nam-nam, pull requests merged in 2023-12, with the labels that each got.

#8 S02 [Database] Set-up
  backend/database/schema.sql
Labels: enhancement

#11 S02US01 - NavBar - [Status : Finished]
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.css
  frontend/src/App.jsx
  frontend/src/App.scss
  frontend/src/assets/GO.svg
  frontend/src/assets/burgerMenuIcon.svg
  frontend/src/assets/favicon.svg
  frontend/src/assets/logo.svg
  frontend/src/assets/namNamIcon.svg
  frontend/src/assets/searchIcon.svg
  frontend/src/components/Counter.jsx
  frontend/src/components/Navbar.jsx
  frontend/src/components/style/Navbar.scss
Labels: Reviewed

#14 S02US01 - Navbar - [Binding Search Inputs]
  frontend/src/components/Navbar.jsx
  frontend/src/components/style/Navbar.scss
Labels: need reviews, Front-End

#18 Update database
  backend/database/sample_data_injection.sql
  backend/database/schema.sql
  backend/src/models/ItemManager.js
Labels: Back-End, need reviews

#32 S02US03 login/sign in form
  frontend/src/App.jsx
  frontend/src/App.scss
  frontend/src/assets/.gitkeep
  frontend/src/components/Navbar.jsx
  frontend/src/components/style/Navbar.scss
  frontend/src/main.jsx
  frontend/src/pages/.gitkeep
  frontend/src/pages/Connexion.jsx
  frontend/src/pages/services/VeriForm.js
  frontend/src/pages/style/Connexion.scss
  frontend/src/vars.scss
Labels: need reviews, Front-End

#33 add requests SQL and modified routes/controllers/managers
  backend/database/requests_samples.sql
  backend/database/sample_data_injection.sql
  backend/database/schema.sql
  backend/public/assets/images/uploads/pexels-iina-luoto-1211887.jpg
  backend/public/assets/images/uploads/pexels-jer-chung-2116094.jpg
  backend/public/assets/images/uploads/pexels-julie-aagaard-2097090.jpg
  backend/src/controllers/ingredientControllers.js
  backend/src/controllers/recipeControllers.js
  backend/src/controllers/userControllers.js
  backend/src/models/IngredientManager.js
  backend/src/models/RecipeManager.js
  backend/src/router.js
  backend/src/tables.js
  frontend/src/components/Recipe.jsx
  frontend/src/components/RecipeDetails.jsx
  frontend/src/components/RecipeList.jsx
Labels: Back-End, need reviews, Front-End

#35 S03 us01
  backend/database/schema.sql
  backend/src/controllers/commentControllers.js
  backend/src/controllers/favControllers.js
  backend/src/controllers/instructionControllers.js
  backend/src/controllers/materialControllers.js
  backend/src/models/CommentManager.js
  backend/src/models/FavManager.js
  backend/src/models/InstructionManager.js
  backend/src/models/MaterialManager.js
  backend/src/router.js
  backend/src/tables.js
Labels: Back-End, need reviews

#37 S03US05 - SignIn Works
  backend/src/controllers/userControllers.js
  frontend/src/pages/Connexion.jsx
  frontend/src/pages/style/Connexion.scss
Labels: Back-End, need reviews, Front-End

#41 Fix Reaload Connexion Page
  frontend/src/pages/Connexion.jsx
Labels: need reviews, Front-End
